<div class="container mt-5">
  <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
  <div class="row mt-5 text-center">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/teams/user.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อ-นามสกุล</h5>
          <p class="card-text">ปวส.1/4</p>
          <a href="#" class="btn btn-primary">ชื่อเล่น</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/teams/user.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อ-นามสกุล</h5>
          <p class="card-text">ปวส.1/4</p>
          <a href="#" class="btn btn-primary">ชื่อเล่น</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/teams/user.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อ-นามสกุล</h5>
          <p class="card-text">ปวส.1/4</p>
          <a href="#" class="btn btn-primary">ชื่อเล่น</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 text-center">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/teams/user.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อ-นามสกุล</h5>
          <p class="card-text">ปวส.1/4</p>
          <a href="#" class="btn btn-primary">ชื่อเล่น</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/teams/user.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อ-นามสกุล</h5>
          <p class="card-text">ปวส.1/4</p>
          <a href="#" class="btn btn-primary">ชื่อเล่น</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="assets/images/teams/user.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ชื่อ-นามสกุล</h5>
          <p class="card-text">ปวส.1/4</p>
          <a href="#" class="btn btn-primary">ชื่อเล่น</a>
        </div>
      </div>


    </div>
  </div>
</div>
